<header class="header-wrapper">
	<h1 class="logo"><a href="/board">Board</a></h1>
	<div class="mobile-wrap">
		<i class="fa fa-bars navi"></i>
		<nav class="navi-wrap">
			<a href="/board/list" class="navi">리스트</a>
			<a href="/board/form" class="navi">게시글 등록</a>
			<div class="navi bt-navi">
				마이페이지
				<div class="navi-sub">
					<a href="/mypage/user" class="sub">정보수정</a>
					<a href="/auth/logout" class="sub">로그아웃</a>
					<a href="/auth/withdrawal" class="sub">회원탈퇴</a>
				</div>
			</div>
			<a href="/auth/login" class="navi">로그인</a>
			<a href="/auth/form" class="navi">회원가입</a>
		</nav>
	</div>
</header>