@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

html,
body {
  font-family: 'Noto Sans KR', sans-serif;
}
a:hover {
  text-decoration: none;
  color: red;
}

body {
}

.wrapper {
  max-width: 1000px;
  margin-left: 27em;
  padding: 2em 4em;
}

.wrap {
  display: flex;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1%;
  max-width: 100%;
  padding: 1em;
  .img-wrap {
    width: 40vw;
    margin-right: 1em;
  }
  .explain {
    width: 40vw;
    padding: 1.5em 0.75em;
    margin-right: 1em;
    text-align: left;
    .main-text {
      font-size: 1.5em;
      margin-bottom: 0.75em;
    }
    .sub-text {
      font-size: 1em;
      line-height: 40px;
    }
  }
}
.link-wrap {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  a {
    display: flex;
    font-size: 1.5em;
  }
  .btn-detail {
    font-size: 1em;
    cursor: pointer;
  }
}

.navi-wrapper {
  display: flex;
  height: 50px;
  color: #777;
  transition: all 0.5s;
  position: fixed;
  background-color: #1b242f;
  z-index: 999;
  color: #fff;
  font-size: 1.1em;
  .navi-wrap {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .navi {
      cursor: pointer;
      margin: 0 2em;
    }
  }
}
.portfolio {
  .hide {
    display: none;
  }
  .title {
    align-items: center;
    justify-content: right;
    display: flex;
    font-size: 0.3em;
    margin-bottom: 1em;
  }
  .wrapper1 {
    background-image: url('../img/slide-2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    display: table;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
    position: relative;
    .main-title {
      .title {
        color: #fff;
        font-size: 2em;
        & i {
          font-size: 0.575em;
          margin-left: 0.5em;
        }
        a {
          font-size: 1.3em;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -10px;
        }
      }
    }
    .menu {
      position: fixed;
      z-index: 999;
      font-size: 1.5em;
      padding: 0.5em;
      left: 0;
      top: 50px;
      div {
        margin-bottom: 0.75em;
      }
      span {
        cursor: pointer;
      }
      .sub-menu {
        font-size: 0.75em;
      }
      i {
        font-size: 0.75em;
        cursor: pointer;
      }
    }
  }
  .wrapper2 {
    padding: 30px 0;
    margin-bottom: 10em;
    overflow: hidden;
    .title {
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 3em;
      margin-bottom: 2em;
    }
    .about {
      font-size: 1.5em;
      margin-bottom: 3em;
    }
    .skill-wrapper {
      display: flex;
      width: 101%;
      margin-bottom: 10em;
      padding: 0 3em;
      .skill-wrap {
        width: 20%;
        margin: 0 1% 1% 0;
        .img-wrap {
          margin-bottom: 2em;
          height: 70%;
        }
        .skill {
          text-align: center;
          font-size: 1em;
        }
      }
    }
  }
  .wrapper3 {
    background-color: #f5f5f5;
    padding: 120px 20px;
    margin-top: -10em;
    .sub-title {
      align-items: center;
      display: flex;
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
  .wrapper4 {
    background-color: #f5f5f5;
    padding: 120px 20px;
    .title {
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2em;
      margin-bottom: 1em;
    }
    .sub-title {
      align-items: center;
      display: flex;
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
  .wrapper5 {
    padding: 120px 20px;
    .title {
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2em;
      margin-bottom: 1em;
    }
    .sub-title {
      align-items: center;
      display: flex;
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
  .wrapper6 {
    background-color: #f5f5f5;
    padding: 120px 20px;
    .title {
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2em;
      margin-bottom: 1em;
    }
    .sub-title {
      align-items: center;
      display: flex;
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
  .wrapper7 {
    padding: 120px 10px;
    .title {
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2em;
      margin-bottom: 1em;
    }
    .sub-title {
      align-items: center;
      display: flex;
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
}
.footer-wrapper {
  background-color: #1b242f;
  color: #fff;
  .footer-wrap {
    &.wrapper {
      margin: auto;
    }
    margin-bottom: 0;
    .bt-wrap {
      text-align: center;
      font-size: 1.2em;
      margin-bottom: 2em;
      i {
        cursor: pointer;
      }
    }
    .copyright {
      text-align: center;
      font-size: 1.2em;
      span {
        margin: 0 2em;
      }
    }
  }
}
