<%- include('../inc/head.ejs') %>
<%- include('../inc/header.ejs') %>
<div class="form-wrapper wrapper">
  <%- include('../inc/title-bar.ejs') %>
  <form action="/board/form" method="POST" name="saveForm">
    <table>
      <tr>
        <td>이름</td>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <td>아이디</td>
        <td><input type="text" name="id"></td>
      </tr>
    </table>
    <button class="btn btn-primary">저장</button>
    <button class="btn btn-danger" type="reset">리셋</button>
  </form>
</div>
<%- include('../inc/foot.ejs') %>