<%- include('../inc/head.ejs') %>
<%- include('../inc/header.ejs') %>
<div class="list-wrapper wrapper">
  <%- include('../inc/title-bar.ejs') %>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th>번호</th>
        <th>아이디</th>
        <th>내용</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>dlstn4509</td>
        <td>홍길동</td>
      </tr>
    </tbody>
  </table>
</div>
<%- include('../inc/foot.ejs') %>
